/* You can add global styles to this file, and also import other style files */
* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  list-style: none;
}

html, body {

  background: white;
  margin: 20px;
  color: #3e4144;
  -webkit-font-smoothing: antialiased;
}


dd {
  font-weight: bold;
}

button {
  background-color: black;
  border-radius: 5px;
  border: 0px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: #3e4144;
}

button:focus{
  outline: none;
}

.p-1 {
  padding: 1px;
}

.row {
  display: flex
}

.col {
  flex-grow: 1;
  /* justify-content: space-between; */
  justify-content: center;
  padding: 2em;
}

input{
  display: block;
  padding: 1em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  background-color: #d6d6d6ce
}

.input-form{
  margin: 1em 0 1em 0
}
